<!DOCTYPE html>

<html xmlns="w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Cadastro de usuário</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"/> 
        <link rel="stylesheet" th:href="@{/css/TelasUsuarioCss/CadastrarUsuarioCss.css}"/>         
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">    
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />

        <!-- fontes -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    </head>

    <body>
        <!--TOPO DA PÁGINA-->
        <header th:insert="~{TopoPagina.html :: nav}"></header>

        <!--TEXTO NO TOPO DA PÁGINA-->
        <div class="topo mt-3 col-sm-12 d-flex justify-content-center">
            <p id="txt-topo" class="h3">Cadastro de usuário</p>
        </div>
        <!--FORM DE CADASTRO DO USUÁRIO-->
        <form id="form-cadastro" th:action="@{/CadastroUsuario}" th:object="${usuario}" method="post">
            <div class="container teal-bg mt-3" style="margin-bottom: 10vh;">
                <p id="txt" class="h5">Insira os dados do usuário</p>
                <hr>
                <div class="row"> 
                    <div class="col-sm-7">  
                        <!--Campo para digitar nome do usuário-->
                        <div class="mb-3"> 
                            <label for="nome" class="form-label">Nome:</label> 
                            <input id="nome" required name="nome" class="form-control" 
                                   type="text" th:field="*{nome}"  placeholder="Digite o nome"/> 
                            <span 
                                id="spanNome" class="text-danger" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
                        </div> 

                        <!--Campo para digitar CPF do usuário-->
                        <div class="mb-3"> 
                            <label for="cpf" class="form-label">CPF:</label> 
                            <input id="cpf" name="cpf" required class="form-control"
                                   type="text" th:field="*{cpf}"  placeholder="Digite o CPF"/> 
                            <span 
                                id="spanCpf" class="text-danger" th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}"></span>
                        </div>

                        <!--Campo para digitar data de nascimento do usuário-->
                        <div class="mb-3"> 
                            <label for="data-nasc" class="form-label">Data de nascimento:</label> 
                            <input id="data-nasc" required name="data-nasc" class="form-control" 
                                   type="date" th:field="*{data_nascimento}"  placeholder="Digite a data de nascimento"/> 
                            
                        </div>

                        <!--Campo para escolher treino-->
                        <div class="mb-3">
                            <label for="treino-id" class="form-label">Qual o treino? (não obrigatório)</label> 
                            <select id="treino-id" class="form-control" th:field="*{treino_id}">
                                <option value="">Nenhum treino</option>
                                <option th:each="treino : ${treinos}"
                                        th:value="${treino.id}"
                                        th:text="${treino.nome}"/>                  
                                </option>
                            </select>
                        </div>
                        <!--Campo para escolher plano-->
                        <div class="row mb-4"> 
                            <div class="col-sm-7">
                                <label for="plano-id" class="form-label">Qual o tempo do plano?</label> 
                                <select id="plano-id" class="form-control" th:field="*{plano_id}">
                                    <option value="0">Selecione uma opção</option>
                                    <option value="1">Mensal</option>
                                    <option value="2">Trimestral</option>
                                    <option value="3">Semestral</option>
                                    <option value="4">Anual</option>
                                </select>
                            </div>
                            <div class="col-sm-5">
                                <label for="ativo" class="form-label">O plano está ativo?</label>      
                                <select id="ativo" class="form-control" th:field="*{ativo}">
                                    <option value="false">Não</option>
                                    <option value="true">Sim</option>
                                </select> 
                            </div>

                        </div> 
                    </div>

                    <!--BOTÃO PARA CADASTRO E VOLTAR-->
                    <div class="container">
                        <div class="row">
                            <div class="text-left col-sm-2 mb-3">
                                <a id="link" class="btn btn-primary" th:href="@{/Usuarios}">Voltar</a>
                            </div>           
                            <div class="col-sm-5 mb-3">
                                <button id="abrirModal" type="button" class="btn btn-primary btn-block">Cadastrar</button>
                            </div>                                                  
                        </div>
                    </div>   
                </div>  
            </div>             
        </form>

        <!--MODAL PARA CADASTRAR OU CANCELAR-->
        <div class="modal fade" id="confirmModal" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <!--CABEÇALHO-->
                    <div class="modal-header">
                        <h5 class="modal-title">Confirmação de cadastro de usuário</h5>
                        <button type="button" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                    </div>
                    <!--CORPO-->
                    <div class="modal-body">
                        Tem certeza que deseja cadastrar este usuário?
                    </div>
                    <!--RODAPÉ-->
                    <div class="modal-footer">
                        <!--BOTÃO PARA CANCELAR CADASTRO-->
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <!--BOTÃO PARA ENVIO DO FORM-->
                        <button id="btnCadastrar" form="form-cadastro" class="btn btn-primary" type="submit">Confirmar</button>                  
                    </div>
                </div>
            </div>
        </div>       

        <script th:src="@{/jquery.js}"></script> 
        <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
        <script th:src="@{/js/TelasUsuarioJs/CadastrarUsuarioJs.js}"></script>

    </body>
</html>