<!DOCTYPE html>

<html xmlns="w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Exercícios</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"/> 
        <link rel="stylesheet" th:href="@{/css/TelasExerciciosCss/ExerciciosCss.css}"/>    
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">          
        <!-- fontes -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    </head>

    <body>
        <!--TOPO DA PÁGINA-->
        <header th:insert="~{TopoPagina.html :: nav}"></header>

        <div class="container">
            <div class="row">
                <div class="topo mt-3 col-sm-12 d-flex justify-content-center">
                    <p id="txt-topo" class="h3">Exercícios</p>
                </div>
            </div>
        </div>


        <!--PARTE DE CIMA DA TABELA-->
        <div class=" mt-4 mb-3 container">
            <!--FORM PARA PESQUISA DE EXERCÍCIO-->
            <form id="formPesquisa" th:action="@{/Exercicios}"  method="post">                    
                <div id="divPesquisaId" class="row">

                    <!--Digitar nome do exercício-->
                    <div class="col-sm-12">
                        <div class="col-sm-8">
                            <label class="mr-2">Pesquisar nome do exercício
                                <input id="nome-exercicio" name="nome_exercicio" class="form-control" type="text" placeholder="Pesquisar nome...">                                           
                            </label>

                            <!--Selecionar grupo muscular do exercício-->
                            <label>Pesquisar grupo muscular
                                <div class="pt-2">
                                    <select id="grupo-muscular" name="id_grupo_muscular" class="form-control" type="number">
                                        <option value="">Selecione um grupo muscular</option>
                                        <option th:each="gm : ${grupos_musculares}"
                                                th:value="${gm.id}"
                                                th:text="${gm.grupo_muscular}"></option>
                                    </select>
                                </div>
                            </label>
                        </div>  
                    </div>  
                    <div class="col-sm-12">
                        <div class="col-sm-3">
                            <!--Enviar form para pesquisa-->
                            <button type="submit" class="mr-4 btn btn-primary">Pesquisar</button>
                            <!--Limpar pesquisa e passar valor nulo (retornar todos funcionários)-->
                            <a th:href="@{/Exercicios}" class="btn btn-secondary">Limpar</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <!--TABELA-->
        <div class="container">
            <div class="row">
                <div class="div-tabela col-sm-12">
                    <div class="col table_responsive">
                        <table id="tabela-exercicios" class="table table-striped table-bordered" style= "width: 100%;">
                            <thead>
                                <tr style="color: rgb(139,0,0)">
                                    <th>ID</th>
                                    <th>Nome do exercício</th>
                                    <th>Grupo muscular</th>     
                                </tr>
                            </thead>
                            <tbody id="corpo_tabela"></tbody>
                            <tr th:each="exercicio : ${exercicios}" class="usuario-item" data-id="${exercicio.id}">
                                <td th:text="${exercicio.id}"></td>
                                <td th:text="${exercicio.nome}"></td>
                                <td th:text="${exercicio.grupo_muscular.grupo_muscular}"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!--PARTE DE BAIXO DA TABELA-->
        <div class=" mt-2 container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="container">                  
                        <div class="row">
                            <div class="class-sm-4 mt-3">
                                <ul id="lista" class="list-unstyled">
                                    <li><a id="link" class="botao pl-3 pr-3 p-2" th:href="@{/TelaInicial}">Voltar</a></li>
                                </ul>
                            </div> 
                            <div class="class-sm-8 ml-auto mt-3">
                                <ul id="lista" class="list-unstyled">
                                    <li><a id="link" class="botao pl-3 pr-3 p-2" th:href="@{/ExcluirExercicio}" style="color: red">Remover exercício</a></li>
                                    <li><a id="link" class="botao pl-3 pr-3 p-2" th:href="@{/CadastrarExercicios}">Cadastrar exercício</a></li>
                                </ul>
                            </div>         
                        </div>
                    </div>        
                </div>
            </div>
        </div>

        <script th:src="@{/jquery.js}"></script> 
        <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
        <script th:src="@{/js/TelasExerciciosJs/ExerciciosJs.js}"></script>

    </body>
</html>