<!DOCTYPE html>
<html xmlns="w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Alteração de dados de treino</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"/> 
        <link rel="stylesheet" th:href="@{/css/TelasTreinosCss/AlterarTreinoCss.css}"/>    
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">          
        <!-- fontes -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    </head>

    <body>
        <!--TOPO DA PÁGINA-->
        <header th:insert="~{TopoPagina.html :: nav}"></header>
        <div class="container">
            <div class="row">
                <div class="topo mt-3 col-sm-12 d-flex justify-content-center">
                    <p id="txt-topo" class="h3">Alterar dados de treino</p>
                </div>
            </div>
        </div>

        <input id="showDivAlterar" th:value="${showDivAlterar}" type="hidden"/>

        <!--CONTEÚDO DA PÁGINA-->
        <!--FORM E DIV PARA PESQUISA DO TREINO QUE SERÁ ALTERADO-->
        <form id="form-pesquisa-treino" th:action="@{/AlterarTreino}" method="post">
            <div class="container mt-3" style="margin-bottom: 5vh;">
                <div class="row"> 
                    <div class="col-sm-6 mb-4"> 
                        <div class="mb-3">
                            <!--Campo para digitar ID do treino que será alterado-->
                            <label for="id-treino" class="form-label">ID do treino que será alterado:</label> 
                            <input id="id-treino" required name="id_treino" class="form-control" type="number"> 
                        </div>
                        <div class="row">
                            <!--Botão para voltar-->
                            <div class="text-left col-sm-5 mb-3">
                                <a id="link" class="btn btn-primary" th:href="@{/Treinos}">Voltar</a>
                            </div>           
                            <!--Botão para pesquisar treino-->
                            <div class="col-sm-7 text-right mb-3">
                                <button id="btn-pesquisar-treino" type="submit" class="btn btn-primary">Pesquisar treino</button>
                            </div>                                                  
                        </div>
                    </div> 
                </div> 
            </div> 
        </form>

        <!--DIVS QUE IRÃO APARECER APÓS PESQUISA-->
        <div id="divAlterar" class="esconder container mt-3" style="margin-bottom: 6vh;">

            <!--FORM E DIV DE ALTERAÇÃO (PARA CASO O USUÁRIO PESQUISADO TENHA SIDO ENCONTRADO)-->
            <div th:if="${treino.nome != null}" class="row">  
                <div class="col-sm-8"> 
                    <form id="form-alteracao" th:object="${treino}" th:action="@{/ConfirmAlterarTreino}" method="post">
                        <!--Passar id para o backend-->
                        <input th:field="*{id}" type="hidden"/>
                        <p id="txt" class="mb-3 h5">Dados para alteração do treino:</p>              
                        <hr>                   
                        <!--Digitar nome do treino-->
                        <div class="mb-3"> 
                            <label for="nome" class="form-label">Nome:</label> 
                            <input id="nome" required th:field="*{nome}" class="form-control" type="text"> 
                        </div> 
                        <!--Digitar número de divisões-->
                        <div class="mb-3"> 
                            <label for="nmrDivisoes" class="form-label">Número de divisões:</label> 
                            <input id="nmrDivisoes" th:field="*{numero_divisoes}" required class="form-control" type="number">
                        </div> 
                        <!--Digitar descrição do treino-->
                        <div class="mb-3"> 
                            <label for="txtDescricao" class="form-label">Descrição:</label> 
                            <textarea id="txtDescricao" required th:field="*{descricao}" class="form-control alturaObs" rows="2"></textarea> 
                        </div>
                        <!--Digitar descrição dos dias-->
                        <div class="mb-3">
                            <label for="txtDescricaoDias" class="form-label">Descrição dos dias:</label> 
                            <textarea id="txtDescricaoDias" required th:field="*{descricao_dias}" class="form-control alturaObs" rows="2"></textarea> 
                            <span id="ex">Ex: "dia 1 - peito, dia 2 - costas..."</span>
                        </div>
                        <div class="mb-3">
                            <hr>
                        </div>
                        <!--Div com links-->
                        <div class="container">
                            <div class="row">
                                <!--Botão para voltar-->
                                <div class="col-sm-4 mb-3">
                                    <a id="link" class="btn btn-primary btn-block" th:href="@{/Treinos}">Voltar</a>
                                </div>
                                <div class="col-sm-3"></div>
                                <!--Botão para alterar-->
                                <div class="col-sm-5 mb-3">
                                    <button id="btnModal" type="button" class="btn btn-primary btn-block">Alterar</button>
                                </div>
                            </div>
                        </div>   
                    </form>
                </div> 
            </div> 

            <!--DIV PARA CASO USUÁRIO NÃO TENHA SIDO ENCONTRADO-->
            <div th:if="${treino.nome == null}" class="row">
                <div class="col-sm-8">
                    <p id="txt" class="mb-3 h5">Treino não encontrado</p>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-4 mb-3">
                                <a id="link" class="btn btn-primary btn-block" th:href="@{/AlterarTreino}">Voltar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>     

        <!--MODAL PARA ALTERAR DADOS DO TREINO OU CANCELAR-->
        <div class="modal fade" id="confirmModal" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <!--CABEÇALHO-->
                    <div class="modal-header">
                        <h5 class="modal-title">Confirmação de alteração de dados do treino</h5>
                        <button type="button" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                    </div>
                    <!--CORPO-->
                    <div class="modal-body">
                        Tem certeza que deseja alterar os dados deste treino?

                        A ação não pode ser revertida
                    </div>
                    <!--RODAPÉ-->
                    <div class="modal-footer">
                        <!--BOTÃO PARA CANCELAR ALTERAÇÃO-->
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <!--BOTÃO PARA ENVIO DO FORM-->
                        <button id="btnAlterar" form="form-alteracao" class="btn btn-primary" type="submit">Confirmar</button>                  
                    </div>
                </div>
            </div>
        </div>       



        <script th:src="@{/jquery.js}"></script> 
        <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/TelasTreinosJs/AlterarTreinoJs.js}"></script>

    </body>
</html>